body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* top banner */
.top-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)),
    url(images/donation13.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
}
.top-banner h1 {
  margin: 0;
  font-size: 95px;
  width: 60%;
  text-align: center;
}
.top-banner p {
  font-size: 30px;
  width: 50%;
  text-align: center;
}

.link-button {
  text-decoration: none;
  color: white;
  padding: 15px 30px;
  background-color: rgba(255, 89, 89);
  border-radius: 7px;
  font-size: 25px;
  font-weight: 500;
  margin-top: 25px;
  text-align: center;
}
/* donate today */
.DT-div{
    margin: 10px;
    padding: 10px;
}
.DT-first-div{
    text-align: center;
    width: 50%;
}
.DT-first-div h1{
    font-size: 55px;
    margin-bottom: 0;
}
.DT-first-div p{
    font-size: 25px;
}
.DT-middle-div{
    display: flex;
}
.box{
    padding: 30px 65px;
    margin: 40px 15px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 7px;
    font-size: 25px;
}
#color-box{
    background-color: #ffeeee;
    border: 5px solid #ff5959;
    color: #ff5959;
}
.DT-div-button, .DT-last_div-item{
    display: block;
}
.DT-last_div-item{
    margin: 10px 20px;
    padding: 10px 20px;
    border:none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    width: 700px;
    font-size: 25px;
    text-align: center;
}
.DT-div-button{
    margin: 20px;
    padding: 20px;
    text-align: center;
}
/* Donate Today */
.div-box{
    width: 75%;
}
.box-art{
    margin: 10px 20px;
    padding: 40px 50px;
}
#color-box-1{
    background-color: rgb(237,245,246);
}
#color-box-2{
    background-color: rgb(255,238,238);
}
#color-box-3{
    background-color: rgb(255,244,214);
}
#box-art-img{
    width: 60px;
    height: 60px;
}
h3{
    font-size: 30px;
}
/* footer */
footer{
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 60px;
}
footer h3{
    font-size: 40px;
    color: #ff5959;
}
footer p{
    margin-bottom: 0;
}
/* get my updates */
#bg-cubscribe{
    background-color: rgb(255,244,214);
    text-align: center;
    width: 50%;
    padding: 100px 40px;
    
}
#bg-cubscribe input,a{
    font-size: 20px;
}
.input-email{
    background-color: rgb(237,245,246);
    width: 500px;
    padding: 18px 20px;
    border: none;
    border-radius: 15px 0 0 15px;
    margin-right: -4px;
      
}
.sub-button{
    border-radius: 0 15px 15px 0;
    padding: 18px 26px;
    border: none;
    background-color: #ff5959;
    color: white;
    text-decoration: none;
}
/* Our Volunteers */
#box-volunteer{
    margin: 0px 20px;
    padding: 0px 7px;
    text-align: center;
}
#box-volunteer img{
    width: 300px;
    height: 300px;
}
#box-volunteer h5{
    font-size: 17px;
    font-weight: 100;
    margin: 0;
    padding: 0;
    color: rgb(68,68,68);
}
#box-volunteer h3{
    margin-bottom: 7px;
    font-weight: 30px;
    color: #444444;
}

/* middle seection's margin */
.section-margin{
    margin: 70px 0px;
}

